body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    z-index: 1;
}

.second-section{
    position: absolute;
    top: 85%;
    /* Your existing styles for second-section */
    /* Adjust background color, padding, etc. as needed */
    color: white; /* Example text color for overlay */
    padding: 20px; /* Example padding for overlay content */
}
.enroll-content {
    display: flex;
    align-items: center;
   
}

.enroll-info {
    flex: 1;
    width: 500px;
}

.enroll-info .p1 img{
    width: 170px;
    height: 170px;
    margin-left:7%;
   
}

.enroll-img img{
    padding-left: 40px;
    margin-top: 100px;
    margin-left: 40px;
    width: 600px;
    height: 600px;
    z-index: 2;
    -webkit-filter: drop-shadow(20px 10px 16px #666666);
    filter: drop-shadow(20px 10px 16px #666666);
    mix-blend-mode: multiply;
    animation: floating 3s ease-in-out infinite;
    transform-origin: center center; 
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0); /* Start and end position (no vertical movement) */
    }
    50% {
        transform: translateY(-10px) rotate(0deg); /* Middle position (move image upwards) */
    }
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    margin-left: 50px;
}


h2 {
    color: #333;
    font-size: 40px;
}

p {
    color: #333;
    font-size: 25px;
    margin-left: 12px;
}
.p1 p{
    color: #333;
    font-size: 17px;
    width:200px;
    margin-top: 5px;
    text-align: center;
    margin-left:3%;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2e9c34;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left:22px;
}

button:hover {
    background-color: #39be3f;
}

.inquiries-container{
    display: flex;
    background-color: #2e9c34;
    border-radius: 10px;
    padding-top: 5px;
}

.inquiries-container p{
    color: #fff;
    width: 595px;
    font-size: 16.5px;
}

.white-link {
    color: white;
}

.black-link {
    color: rgb(0, 0, 0);
}

.divider {
    width: 2px;
    height: 115px;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
}

.socmed{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #949596;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 2px;
}

.i-container{margin-left: 10px;
}


.socmed2{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #1f80c0;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    align-items: center;
    padding: 2px;
}

.fb-container{
    margin-left: 12px;
    margin-right: 6px;
}
.mess-container{
    margin-left: 6px;
}

.socmed-divider {
    width: 2px;
    height: 20px;
    margin: 2px 2px;
    background-color: white;
}

.space{
    margin: auto;
}