@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.cdnfonts.com/css/league-spartan');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
}
.college-programs-title {
  text-align: center;
  margin-top: 2%;
  display: flex;
  flex-direction: column; /* Display content in a column layout */
   /* Center items horizontally */
  width:40%;
  margin-left: 4%;
}

.college-programs-title h1 {
  font-size: 28px;
  color: #333;
  margin: 0;
  padding: 10px;
  font-size: 50px;
  text-align: left;
  width:40%;
}

.college-programs-title img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  margin-top: 8%;
  width: 400px;
  height: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);
  filter: blur(2px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  margin-bottom: 40px;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #1b7402;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #46E068;
}

.swiper-slide--two span {
  background: #46E068;
}

.swiper-slide--three span {
  background: #46E068;
}

.swiper-slide--four span {
  background: #46E068;
}

.swiper-slide--five span {
  background: #46E068;
}

.swiper-slide--six span {
  background: #46E068;
}

.swiper-slide--seven span {
  background: #46E068;
}

.swiper-slide h2 {
  color: #fff;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size:3.3rem;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;                                            
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}





.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.read {
  background-color: #46E068;
  border: #46E068;
  align-items: center;
  width: 400px;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: #fff 0.3s ease;
  display: flex;
  justify-content: center;
  
}

.read:hover {
  background-color: #1b7402;
}

.read h3{
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.readmore a{
  color: #fff;
  width: 400px;
}




