body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #46E068;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    background-color: #46E068;
    padding: 5px 5px;
    display: flex;
    line-height: 2.3;
    border-bottom: 3px solid #bcf3c8;
    z-index: 6; /* set a higher z-index than the banner */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Add box shadow */
}
header .wrapper {
    padding-top: 1.5px;
    max-width: 1000px;
    margin: 6px 20px 5px 19%; /* Top, Right, Bottom, Left */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


header .logo img {
    height: 80px;
    display: block;
    margin-right: 200px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 120%;
    background-color:#46E068;
    padding: 20px;
    transition: left 0.3s;
    z-index: 6; /* set a higher z-index than the banner */
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}
.navbar ul a:hover {
    color: #ffffff;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: transparent;
    font-size: 42px;
    cursor: pointer;
    border: 1px transparent;
    padding: 15px;
    border-radius: 3px;
    color: #ffffff;
}
.close-nav button:hover {
    color: #222222;
    background: white;
}

.menu-bar button {
    border: 1px transparent;
    background: #46E068;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid #ffffff;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: white;
}
.menu-bar button:hover i {
    border-color: transparent;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 40px;
        font-size: 17px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
    
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}
.main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
    z-index: 1;
}

.second-section{
    position: absolute;
    top: 105%;
    /* Your existing styles for second-section */
    /* Adjust background color, padding, etc. as needed */
    color: white; /* Example text color for overlay */
    padding: 20px; /* Example padding for overlay content */
}
.enroll-content {
    display: flex;
    align-items: center;
   
}

.enroll-info {
    flex: 1;
    width: 500px;
}

.enroll-info .p1 img{
    width: 170px;
    height: 170px;
    margin-left:9%;
   
}

.enroll-img img{
    padding-left: 40px;
    margin-top: 100px;
    margin-left: 40px;
    width: 680px;
    height: 680px;
    z-index: 2;
    -webkit-filter: drop-shadow(20px 10px 16px #666666);
    filter: drop-shadow(20px 10px 16px #666666);
    mix-blend-mode: multiply;
    animation: floating 3s ease-in-out infinite;
    transform-origin: center center; 
}
@keyframes floating {
    0%, 100% {
        transform: translateY(0); /* Start and end position (no vertical movement) */
    }
    50% {
        transform: translateY(-20px) rotate(1.4deg); /* Middle position (move image upwards) */
    }
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    margin-left: 50px;
}


h2 {
    color: #333;
    font-size: 40px;
}

p {
    color: #333;
    font-size: 25px;
    margin-left: 12px;
}
.p1 p{
    color: #333;
    font-size: 17px;
    width:200px;
    margin-top: 5px;
    text-align: center;
    margin-left:3%;
}

span{
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2e9c34;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 4px;
    margin-left:22px;
}

button:hover {
    background-color: #39be3f;
}

.inquiries-container{
    display: flex;
    background-color: #2e9c34;
    border-radius: 10px;
    padding-top: 5px;
}

.inquiries-container p{
    color: #fff;
    width: 595px;
    font-size: 16.5px;
}

.white-link {
    color: white;
}

.divider {
    width: 2px;
    height: 115px;
    margin: 20px 20px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
}

.socmed{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #949596;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 2px;
}

.i-container{margin-left: 10px;
}


.socmed2{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    background-color: #1f80c0;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    align-items: center;
    padding: 2px;
}

.fb-container{
    margin-left: 12px;
    margin-right: 6px;
}
.mess-container{
    margin-left: 6px;
}

.socmed-divider {
    width: 2px;
    height: 20px;
    margin: 2px 2px;
    background-color: white;
}

.space{
    margin: auto;
}